div.font-bold.text-lg Change you current password or profile
= link_to icon('fas fa-edit',"Edit Profile "), edit_profile_path,class:"btn-sm-green"
= link_to icon('fas fa-edit',"Edit Password "),  edit_password_path,class:"btn-sm-green"
