div[class="-mx-2"]
  div.md:flex.gap-2.border-bottom.bg-lime.p-1
    div.ml-2
      .text-lg.font-bold Form Teams
    div.flex-grow
      - if @game.status == 'Pending'
        div = links = link_to( icon('fas fa-arrow-left', 'Cancel - Show Pending Game'), pending_game_path, class: "btn-cancel")

      -else
        div = links = link_to( icon('fas fa-arrow-left', 'Cancel - Show Scheduled Game'), scheduled_game_path, class: "btn-cancel")


= render partial:"shared/gheader"

- participants = @game.current_players
div.flex.flex-wrap.gap-8.mx-2[data-controller='alert']
  div= form_with(url:update_teams_scheduled_game_path(@game), method: :patch)do |f|
      div 
        span.strong Team Options 
        span.italic = "(You must pick 1!)"
      - @teams.options.each do |k,v|
        div.flex.flex-wrap.gap-16.pb-1.border-bottom
          div.pl-4
            = radio_button_tag 'team_makeup', k, false, data:{alert_target:'options', action: 'click->alert#checkOptions'}
            strong style="padding-left:4px;" = k.to_s.capitalize
            span.ml-4 = v

      h5.strong Form Teams Method
      div.flex.flex-wrap.gap-6.border-bottom
        div.ml-4
          div
            = radio_button_tag 'seed_method', 'draw', checked:true
            strong style="padding-left:4px;" Draw(Seeded)
          div
            = radio_button_tag 'seed_method', 'random'
            strong style="padding-left:4px;" Random
          div
            = radio_button_tag 'seed_method', 'seeded'
            strong style="padding-left:4px;" Seeded
          div
            = radio_button_tag 'seed_method', 'least_paired'
            strong style="padding-left:4px;" Least Paired 
        div.ml-4
          div
            = radio_button_tag 'seed_method', 'stacked'
            strong style="padding-left:4px;" Stacked(Seed)
          div
            = radio_button_tag 'seed_method', 'stacked_draw'
            strong style="padding-left:4px;" Stacked(Draw)
          div
            = radio_button_tag 'seed_method', 'abcd_battle'
            strong style="padding-left:4px;" ABCD Battle
          div
            = radio_button_tag 'seed_method', 'redistribution'
            strong style="padding-left:4px;" Redistribute
         
      div
        = f.submit("Form Teams", class:' btn btn-submit w-full',data:{alert_target:'submit', action: 'click->alert#checkOptions'},id:'submit_form',disabled:true)
        / h3.strong.w3-center - Or Just pick your own teams! -
        / / = button_to  'Assign Teams',  action:'assign_teams', class: 'btn btn-icon btn-info dblock mr-2 w100 w3-center'

        / div.btn-link= link_to "Pick your own teams",@game.namespace_url('adjust_teams'),class:'strong fs125 dblock'

  div
    h5.italic
      strong Current Participants
      div Table is sortable by clicking on the column header!
      div Click twice to change from decending to assending

    table.golfer
      thead[data-controller="sortTable"]

        tr
          th.strong[data-action="click->sortTable#sortBy"] Name
          th.numeric.strong[data-action="click->sortTable#sortBy"] PTRank
          th.strong[data-action="click->sortTable#sortBy"] Tee
          th.numeric.strong[data-action="click->sortTable#sortBy"] Quota(Q-R)
          th.strong[data-action="click->sortTable#sortBy"] LPlay
      tbody
        - participants.each do |p|
          - member = p.player
          tr
            td= member.name
            td= sprintf( "%0.03f", member.pt_rank[5])
            td= member.tee
            td= "#{member.quota} - #{member.rquota}"
            td= member.last_played
  