<div class="">
  <div class="flex">
    <h1 class="font-bold text-4xl">Editing Article</h1>
    <%= link_to "Show this article", @article, class: "ml-2 rounded-lg py-3 px-5 bg-blue-100 inline-block font-medium" %>
  </div>

  <%= render "form", article: @article %>

</div>
