div.w-full
  p style="color: green" = notice
  .flex.gap-8
    h1.font-bold.text-2xl Score/Rescore Game
    = render partial:"shared/gheader"


div.flex.gap-8
  = link_to icon('fas fa-arrows-alt-h', 'Cancel - Return to Game'), @game.namespace_url, class: ' font-bold btn-cancel'

  - useKeys = current_group.use_keyboard_scoring
  - link_params = {}
  - if params[:keys].present? 
    - if params[:keys] == '1'
      - useKeys = true
    - else
      - useKeys = false
  - if useKeys
    - link_params[:keys] = '0'
    button.btn-link.mx-0 =  link_to("Use Mouse Entry", score_teams_pending_game_path(@game,link_params))
  -else
    - link_params[:keys] = '1'
    button.btn-link.mx-0 = link_to("Use Keyboard Entry", score_teams_pending_game_path(@game,link_params))

= form_with(url:update_scores_pending_game_path(@game), method: :patch, data: { type: "html"} )do |f|
  hr.underline

  div
    .sticky.top-12
      div.flex.items-center.my-2.gap-8
        = f.submit("Update Scores",autocomplete: :off,disabled: :disabled,
        id:'submit_form',class:"btn-submit w-80 text-center")
        div#status_box.text-center.border-2.font-bold.text-xl.bg-blue-100.text-blue-700.w-full 


  
    - select_points = !useKeys
    div
      / div#status_box.text-center.border-2.font-bold.text-xl.bg-blue-100.text-blue-700 

      div[class="#{current_group.use_autoscroll ? "overflow-auto vh-75" : ""}"]
        / [style="height:75vh;"]
        - teams = @game.game_teams(params[:team])
        - teams.each_with_index do |(team,mates),i|
           
          -tq = mates.sum(:quota)
          -sq = tq/2.0
          -hq = (tq/18.0).round(2)
          table.golfer.mb-2.w-full[data-controller="scoreTeam"]

            tr.bg-lime-lighter
              th.w-1/2.text-left colspan="4" 
                - if @game.formed['makeup'] == "individuals"
                  = "Tee Time #{team}"
                - else
                  = "Team - #{team} Quota:#{tq} Side: #{sq} Hole: #{hq}"
                = hidden_field_tag("team[#{team}][quota]",tq,data:{scoreTeam_target:"teamQuota"})
              th[data-scoreTeam-target="teamFront", data-someJunk-target="whooa"]
              th[data-scoreTeam-target="teamBack"]
              th[data-scoreTeam-target="teamTotal"]
              th.w-10[data-scoreTeam-target="teamPM"]
        
            tr.bg-lime-lighter
              th.w-1/4 Name
              th Tee
              th Q
              th Side
              th Front
              th Back
              th Total
              th &#177;

            - mates.each do |mate|
              - side = mate.quota / 2.0
              tr[data-controller="scoreMate"]
                td
                  = mate.full_name
                td= mate.tee
                - if mate.limited.present?
                  - q = "#{mate.quota}  &#177;#{mate.limited }".html_safe
                - else
                  - q = mate.quota
                td
                  = q
                  = hidden_field_tag("participant[#{mate.id}][quota]",mate.quota,data:{scoreMate_target:"mateQuota"})
                td
                  = side
                  = hidden_field_tag("participant[#{mate.id}][team]",team)
                - if select_points
                  - opt = pulled_options(mate.quota)
                  td.bg-blue-100= select_tag("participant[#{mate.id}][front]", options_for_select(opt[:side],\
                    mate.front.present? && !mate.front.zero? ? mate.front : 'Select')\
                    , data:{scoreMate_target:"mateFront", scoreTeam_target:"mateFront",action:"change->scoreMate#front change->scoreTeam#compute"},class:" select")
                  td.bg-blue-100= select_tag("participant[#{mate.id}][back]", options_for_select(opt[:side],\
                    mate.back.present? && !mate.back.zero? ? mate.back : 'Select'),
                      data:{scoreMate_target:"mateBack", scoreTeam_target:"mateBack", someJunk_target:"ohno",
                      action:"change->scoreMate#back change->scoreTeam#compute"},
                      class:"select")
                - else
                  td.bg-blue-100= number_field_tag("participant[#{mate.id}][front]", mate.front,data:{scoreMate_target:"mateFront", scoreTeam_target:"mateFront",action:"change->scoreMate#front change->scoreTeam#compute"},class:"w-full text-center ")
                  td.bg-blue-100= number_field_tag("participant[#{mate.id}][back]",mate.back, data:{scoreMate_target:"mateBack", scoreTeam_target:"mateBack",action:"change->scoreMate#back change->scoreTeam#compute"},class:"w-full text-center ")
                th= text_field_tag("participant[#{mate.id}][total]",mate.total, disabled:true, data:{scoreMate_target:"mateTotal", scoreTeam_target:"mateTotal"},class:"w-full text-center")
                th[data-scoreMate-target="matePM", data-scoreTeam-target="matePM" class='mate-pm'] 
                  - if mate.total.present?
                    = mate.total - mate.quota
        hr.underline
