.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}


.sbutton {
  padding: 3px;
/*  border: solid 1px #ccc;
*/  font-size: 1rem;
  text-align: center;
/*  background: linear-gradient(#ff3377, #b3003c);
*/  
  background: linear-gradient(#ffe4a9, #ffbb2a);

  font-weight: bold;
}
.sbutton:hover {
  background: #b80;
}

.slim p, .marked p{
  font-size: 16px;
  line-height: 1.2;
  margin: 0.75rem 0 0.5rem 0;
}

.marked-buttons div {
  border: none;
  border-radius: 2px;
  background: #0d47a1;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 0.75rem;

  padding: 0.25rem ;
  width: 2rem;
  margin-right: 0.25rem;

}
.marked h6 {
  font-weight: bold;
  font-size: 14pt;
}
.marked h5 {
  font-weight: bold;
  font-size: 16pt;
}
.marked h4 {
  font-weight: bold;
  font-size: 18pt;
}

.marked h3 {
  font-weight: bold;
  font-size: 20pt;
}
.marked h2 {
  font-weight: bold;
  font-size: 22pt;
}
.marked h1 {
  font-weight: bold;
  font-size: 23pt;
}

.marked blockquote {
  margin-left: 2rem;
}

:root {
  /* Set sans-serif & mono fonts */
  /* Default (light) theme */
/*  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
*/  
  --accent: #0d47a1;
/*  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
*/
}

.marked button,
.marked input[type="submit"],
.marked input[type="reset"],
.marked input[type="button"] {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  font-size: 1rem;
  color: white;
  text-decoration-line: ;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem 0;
}

.marked button[disabled],
[role="button"][aria-disabled="true"],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
select[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}



 ul, ul.slim, ul.classic {
   list-style-type: disc;
   padding-left: 1rem;
   margin-left:  1rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1rem;
  margin-left:  1rem;

}
